.searchbar {
   width: 100%;
   top: 0;
   left: 0;
   position: sticky;
   z-index: 1100;
   display: flex;
   justify-content: center;
   align-items: center;
   min-height: 64px;
   padding: 50px 0 50px 0;
   color: #fff;
   background-image: linear-gradient(to right, #dd2476, #ff512f);
   box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.75);
 }

.search-form {
   display: flex;
   align-items: center;
   width: 100%;
   max-width: 600px;
   background-color: #fff;
   border-radius: 3px;
   overflow: hidden;
 }

  .form-button {
   display: inline-block;
   width: 60px;
   height: 30px;
   border: 5px;
   
   background-size: 20%;
   background-repeat: no-repeat;
   background-position: center;
   opacity: 0.6;
   transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
   cursor: pointer;
   transition: 300ms cubic-bezier(0.17, 0.67, 0.83, 0.67);
   outline: none;
 }
 
 .form-button:hover,
 .form-button:focus {
  fill: #ff512f
 }
 
 .button-label {
   position: absolute;
   width: 1px;
   height: 1px;
   padding: 0;
   overflow: hidden;
   clip: rect(0, 0, 0, 0);
   white-space: nowrap;
   clip-path: inset(50%);
   border: 0;
 }
 
 .form-input {
   display: inline-block;
   width: 100%;
   font: inherit;
   font-size: 16px;
   border: none;
   outline: none;
   padding-left: 4px;
   padding-right: 4px;
 }
 
 .SearchForm-input::placeholder {
   font: inherit;
   font-size: 18px;
 }